@use "@material/icon-button";
@use "@material/card";

@use "../base/typography";
@use "../abstracts/variables";

@include icon-button.core-styles;
@include card.core-styles;

.about main {
    gap: 32px;

    .about-us {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .about-us__header {
            @include typography.heading-4;
        }

        .about-us__body {
            @include typography.body-1;

            .about-us__gold-text {
                color: variables.$gold;
            }
        }
    }

    .officers {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        flex-grow: 1;

        .officers__header {
            @include typography.heading-4;
        }

        .officers__list {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }

        .officer {
            display: flex;
            align-items: center;
            flex-direction: row; // need to override the flex direction imposed by card.
            flex-grow: 1;
            padding-right: 12px;
            overflow: hidden;

            .officer__image {
                @include typography.body-1;

                width: 64px;
                height: 72px;
                object-fit: cover;
            }

            .officer__info {
                flex-grow: 1;
                padding-left: 24px;

                .officer__name {
                    @include typography.heading-6;
                }

                .officer__position {
                    @include typography.body-2;
                }
            }
        }
    }
}
