@use "@material/icon-button";
@use "@material/card";

@use "../abstracts/variables";

.about main {
    .about-us {
        display: flex;
        flex-direction: column;
        flex-basis: 250px;
        flex-grow: 1;

        .about-us__body {
            margin-top: 16px;
        }
    }

    .officers {
        display: flex;
        flex-direction: column;
        flex-basis: 350px;
        flex-grow: 50;
        flex-shrink: 0;

        .officers__header {
            margin-bottom: 16px;
        }

        .officers__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            margin: -8px;
            & > .officer {
                margin: 8px;
            }
        }

        .officer {
            display: flex;
            align-items: center;
            flex-direction: row; // need to override the flex direction imposed by card.
            flex-grow: 1;
            flex-basis: 325px;
            padding-right: 12px;
            overflow: hidden;

            .officer__image {
                object-fit: cover;
            }

            .officer__social {
                color: variables.$gold;
            }

            .officer__info {
                flex-grow: 1;
                padding-left: 24px;
            }
        }
    }

    .pillars {
        .pillars__list {
            display: flex;
            flex-direction: column;
            margin-top: 16px;

            .pillar:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        .pillar {
            @include card.outline(rgba($color: variables.$navy, $alpha: 0.12), 1px);

            display: flex;
            flex-direction: column;

            .pillar__top {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 16px 24px;
                border-bottom: 1px solid rgba($color: variables.$navy, $alpha: 0.12);

                .pillar__icon {
                    width: auto;
                    margin-right: 24px;
                }
            }

            .pillar__description {
                padding: 12px 24px;
            }
        }
    }
}
