@use "@material/button";
@use "@material/ripple";
@use "@material/card";

@use "../base/typography";
@use "../abstracts/variables";

@include card.core-styles;

.home main {
    gap: 32px;

    .deadlines {
        display: flex;
        flex-direction: column;
        flex-basis: 250px;
        flex-grow: 1;
        row-gap: 16px;

        .deadlines__header {
            @include typography.heading-4;
        }

        .deadlines__button {
            @include button.outline-color(rgba($color: variables.$gold, $alpha: 0.12));

            align-self: flex-start;
        }

        .deadlines__list {
            display: flex;
            flex-direction: column;
            position: relative;
            row-gap: 16px;
        }

        .deadline {
            @include card.outline(rgba($color: variables.$white, $alpha: 0.12), 1px);

            background: variables.$gold;
            color: variables.$white;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            column-gap: initial;
            overflow: hidden;

            .deadline__top {
                padding: 12px;

                .deadline__header {
                    @include typography.heading-6;

                    color: inherit;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                .deadline__body {
                    @include typography.body-2;

                    color: inherit;
                }
            }

            .deadline__bottom {
                border-top: 1px solid rgba($color: #fff, $alpha: 0.12);
                display: flex;

                .deadline__button {
                    @include button.container-fill-color(variables.$gold);
                    @include button.ink-color(variables.$white);

                    flex-grow: 1;
                    display: flex;
                    justify-content: flex-start;

                    .mdc-button__ripple {
                        @include ripple.states(variables.$white);

                        border-radius: unset;
                    }

                    .mdc-button__label {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .announcements {
        display: flex;
        flex-direction: column;
        flex-basis: 275px;
        flex-grow: 10;
        row-gap: 16px;

        .announcements__header {
            @include typography.heading-4;
        }

        .announcements__list {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            column-gap: 16px;
        }

        .announcement {
            @include card.outline(rgba($color: variables.$navy, $alpha: 0.12), 1px);

            padding: 14px 16px 8px;
            display: flex;
            flex-direction: column;

            .announcement__header {
                @include typography.heading-6;

                line-height: 24px;
            }

            .announcement__date,
            .announcement__body {
                @include typography.body-2;
            }

            .announcement__body {
                margin: 8px 0;
            }

            .announcement__button {
                width: min-content;
                margin-left: -8px;
            }
        }
    }
}
