@use "@material/button";

.induction main {
    .content {
        .content__info {
            margin-bottom: 16px;
        }

        .content__seat {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .induction-form {
            display: flex;
            flex-wrap: wrap;
            margin: -8px;

            > * {
                margin: 8px;
            }

            .induction-form__id {
                flex-grow: 1000;
                flex-basis: 400px;
            }

            .induction-form__button {
                flex-grow: 1;
                // something big enough that it should always be pushed to the next line
                flex-basis: 300px;
                // manually taken from height of inputs, which doesn't change
                height: 56px;
            }
          }
    }
}