@use "@material/button";

@use "../abstracts/variables";

.service main {
    .submit,
    .find {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > *:not(:last-child) {
            margin-bottom: 16px;
        }

        .submit__body,
        .find__body {
            .submit__gold-text,
            .find__gold-text {
                color: variables.$gold;
            }
        }
    }

    .submit {
        .submit__button {
            @include button.outline-color(rgba($color: variables.$gold, $alpha: 0.12));
        }
    }

    .find {
        align-items: initial;
    }
}
