{
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "css",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "printWidth": 120,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}