@use "@material/typography/typography" as *;

@use "../abstracts/variables";

h1,
.typography--heading-1 {
    @include typography(headline1);
    color: variables.$navy;
}

h2,
.typography--heading-2 {
    @include typography(headline2);
    color: variables.$navy;
}

h3,
.typography--heading-3 {
    @include typography(headline3);
    color: variables.$navy;
}

h4,
.typography--heading-4 {
    @include typography(headline4);
    color: variables.$navy;
}

h5,
.typography--heading-5 {
    @include typography(headline5);
    color: variables.$navy;
}

h6,
.typography--heading-6 {
    @include typography(headline6);
    color: variables.$navy;
}

p,
.typography--body-1 {
    @include typography(body1);
    color: variables.$navy;
}
.typography--body-2 {
    @include typography(body2);
    color: rgba($color: variables.$navy, $alpha: 0.6);
}

.typography--link {
    color: variables.$gold;
}
