html {
    .root {
        main {
            top: 24px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            max-width: 1020px;
            margin-left: auto;
            margin-right: auto;

            // general layout styles (belong here so that the breakpoints stay the same on different pages)
            padding-left: 16px;
            padding-right: 16px;
            @media screen and (min-width: 720px) {
                top: 28px;
                padding-left: 48px;
                padding-right: 48px;
            }
            @media screen and (min-width: 980px) {
                top: 40px;
                padding-left: 72px;
                padding-right: 72px;
            }
        }
    }
}
