@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar/mixins" as top-app-bar;
@use "@material/drawer";
@use "@material/list";

@use "../abstracts/variables";

.root {
    &--shifted-left {
        padding-left: 256px; // the width of the drawer
    }

    .nav-bar {
        @include top-app-bar.fill-color(variables.$navy);

        &--shifted-left {
            left: 256px; // the width of the drawer
        }

        .nav-bar__title {
            color: variables.$white;
        }

        .nav-bar__menu-button {
            &--hidden {
                display: none;
            }
        }
    }

    .nav-drawer {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }
}
